Question 1:- Explain with an example each when to use a for loop and a while loop.

Ans: For Loop:-
For loop is a built-in function in the python which iterate over a sequence We have for loop when we have a block of code and want to repeat it to the certain number of times. The for-loop is always used in combination with an iterable object, like a list or a range.

In [1]:
l = int(input("Enter your number here to see the table: ")) # this code returns the table of any given number using for loop
a,b = 0,1
for i in range(1,11):
    print(l,"*",i,"=",l*i)

Enter your number here to see the table:  45

45 * 1 = 45
45 * 2 = 90
45 * 3 = 135
45 * 4 = 180
45 * 5 = 225
45 * 6 = 270
45 * 7 = 315
45 * 8 = 360
45 * 9 = 405
45 * 10 = 450

Ans while loop:- We use while loop when we want certain condition to be true and that execute. Below is an example of the while loop which will print "Name","Age" and "Sex" in the number of sequence provided by the user

In [1]:
a = int(input("Enter number of occurence here: "))
b = 1
while b <= a:
    print("Danish", end=" ")
    c = 1
    while c <= 1:
        print("20", end=" ")
        c = c+1
        d = 1
        while d <=1:
            print("Male")
            d = d+1
        
    b = b+1
print()

Enter number of occurence here:  5

Danish 20 Male
Danish 20 Male
Danish 20 Male
Danish 20 Male
Danish 20 Male

Question 2:- Write a python program to print the sum and product of the first 10 natural numbers using for
and while loop.

In [61]:
sum = 0 # Sum of the first 10 natural numbers using for loop
for i in range(1, 11):
    sum += i
print("The sum of first 10 natural numbers using for loop:", sum)

The sum of first 10 natural numbers using for loop: 55

In [69]:
a = 0
for i in range(1,11):
    a+=i
print(a)

55

In [70]:
a=0 # Sum of the first 10 natural numbers using while loop
i=1
while i <=10:
    a+=i
    i+=1
print(a)

55

In [72]:
product = 1  #product of the first 10 natural numbers using for loop
for i in range(1,11):
    product*=i
print(product)

3628800

In [74]:
product = 1 #Product of the first 10 natural numbers using while loop
i = 1
while i <=10:
    product*=i
    i+=1
print(product)

3628800

Q3. Create a python program to compute the electricity bill for a household. The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per
unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will
be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.

In [3]:
# This program calculates electricity rates and returns the payable amount to the customer along with billing calculation

units = int(input("please enter your units here: "))
if units <=100:
    print("Your total units:",units,"|","charge rate: Rs 4.5 per unit.")
    print("Total Payable Amount:-",units*4.5)
elif units > 100 and units <=200:
    a = units - 100
    b = units - a
    print("Your total units:",units,"|","charge rate: Rs 4.5 per unit till first 100 units. Rs 6 per unit above 100 till 200 units",)
    print("Total Payable Amount:-",a*6+b*4.5)
elif units > 200 and units <=300:
    a1 = 100
    b1 = 100
    c1 = units - (a1+b1)
    print("Your total units:",units,"|","charge rate: Rs 4.5 first 100 units. Rs 6 per unit above 100 till 200 units. Rs 10 above 200 till 300 units",)
    print("Total Payable Amount:-",a1*4.5+b1*6+c1*10)
elif units > 300:
    
        a2 = 100
        b2 = 100
        c2 = 100
        d1 = units - (a2+b2+c2)
        print("Your total units:",units,"|","charge rate: Rs 4.5 first 100 units. Rs 6 per unit above 100 till 200 units. Rs 10 above 200 till 300 units. Above 300 units, you will be chared Rs 20 per unit",)
        print("Total Payable Amount:-",a2*4.5+b2*6+c2*10+d1*20)

please enter your units here:  310

Your total units: 310 | charge rate: Rs 4.5 first 100 units. Rs 6 per unit above 100 till 200 units. Rs 10 above 200 till 300 units. Above 300 units, you will be chared Rs 20 per unit
Total Payable Amount:- 2250.0

Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
hat list.

In [20]:
# Using for loop

cubes = []
for i in range(1,101):
    cube = i**3
    if (cube % 4 ==0) or (cube % 5 ==0):
        cubes.append(i)
print(cubes)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

In [31]:
# Using While loop
cube1 = []
i = 1

while i <=100:
    cube = i**3
    if (cube % 4 ==0) or (cube % 5 ==0):
        cube1.append(i)
    i += 1
print(cube1)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

Q5. Write a program to filter count vowels in the below-given string.
string = "I want to become a data scientist"

In [32]:
a = "I want to become a data scientist"

In [33]:
a

'I want to become a data scientist'

In [34]:
string = "I want to become a data scientist"
vowels = "aeiouAEIOU"
count = 0

for char in string:
    if char in vowels:
        count += 1

print("Number of vowels in the given string:", count)

Number of vowels in the given string: 12